	
		body
		{
			background-color:#CCD1E4 ;
		}
		hr
		{
			
			height: 0px;
			border-style: none;
			border-top-style:dotted ;
			width: 100px;
			height: 50px;
			border-width:10px;
			border-color:#4FBDBA ;

		}
 
        h1,h2,h3,h4,h5,h6
        {
        	color: purple;
        	text-decoration: underline;
        	
        }
        .class1,.class2
{
	color: blue;
}
#id1,#id2
{
color: green;
}